body,
html {
  background: #fff !important;
  margin: 0;
  padding: 0px;
  height: 100%;
  color: rgba(0, 0, 0, 0.54);
}
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "OpenSauceOneRegular", sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
}
*,
::after,
::before {
  box-sizing: inherit;
}
